@media (max-height : 850px) and (max-width:450px) and (orientation: portrait), (max-width : 850px) and (max-height:450px) and (orientation: landscape) {
    .d-mob-none {
        display: none;
    }

    .d-mob-1 {
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 100;
    }

    .d-mob-11 {
        -ms-flex: 0 0 90% !important;
        flex: 0 0 90% !important;
        max-width: 90% !important;
    }

    #multiscroll img {
        width: 100% !important;
    }
}
.d-mob-1 {
        -ms-flex: 0 0 2% !important;
        flex: 0 0 2% !important;
        max-width: 2% !important;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 100;
    }
#navigationProduit {
    text-align: center;
}

.top50 {
    position: relative;
    height:100vh;
}

    .top50 div {
        height: 42%;
    }
    .top50 a {
        top: 50%;
        position:relative;
    }

.produit #diaporama {
    display:none;
}
.produit footer{
    position:absolute !important;
    bottom:0;
}
.produit #liBrand {
    display:none !important;
}
#multiscroll {
    z-index: 1;
}

.ms-left, .ms-right {
    position: relative !important;
            -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;

}

.ms-right {
    right: -1px !important;
}

.col-5-5 {
    -ms-flex: 0 0 45.833333%;
    flex: 0 0 45.833333%;
    max-width: 46%;
}
.ms-section {
    z-index:1 ;
}
#anchor{
    z-index:2;
}
 #anchor .row{
     justify-content:center;
     background:#282827;
 }

 #anchor div{
     margin:10px;
 }
 #anchor a{
     color:white;
     font-weight:bold;
 }
.ms-tableCell {
    vertical-align: middle;
    height: auto !important;
}

.produit footer {
    position: fixed;
}

@font-face {
    font-family: 'DINMedium';
    src: url('din-medium-webfont.eot');
    src: url('din-medium-webfont.eot?#iefix') format('embedded-opentype'), url('din-medium-webfont.woff') format('woff'), url('din-medium-webfont.ttf') format('truetype'), url('din-medium-webfont.svg#DINMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINBlack';
    src: url('din-black-webfont.eot');
    src: url('din-black-webfont.eot?#iefix') format('embedded-opentype'), url('din-black-webfont.woff') format('woff'), url('din-black-webfont.ttf') format('truetype'), url('din-black-webfont.svg#DINBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRegular';
    src: url('din-bleu-webfont.eot');
    src: url('din-bleu-webfont.eot?#iefix') format('embedded-opentype'), url('din-bleu-webfont.woff') format('woff'), url('din-bleu-webfont.ttf') format('truetype'), url('din-bleu-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINBold';
    src: url('din-bold-webfont.eot');
    src: url('din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('din-bold-webfont.woff') format('woff'), url('din-bold-webfont.ttf') format('truetype'), url('din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 14px;
    font-family: Arial;
    margin: 0 auto;
    width: 100%;
    background-color: hsl(245, 9%, 95%) !important;
}

img {
    max-width: 100%;
    height: auto;
}

a img {
    border: none;
}

/* CK */
span.titre {
    font-size: 18px;
    font-family: 'DINBold';
}

span.titre {
    font-size: 24px;
    font-family: 'DINBold';
    font-style: italic;
    color: #000;
}

span.sousTitre {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;
}

span.titreFleche {
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    background: url(img/fleche1.png) no-repeat left;
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

p.titreFleche {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    background: url(img/fleche1.png) no-repeat left;
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
}

span.vide {
    display: block;
    height: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jDiaporama_wrapper {
    margin: 0 auto;
}

/*#region DIAPORAMA */

/* DIAPORAMA */

#diaporama {
    position: relative;
    overflow: hidden;
    height: 40vh;
}

#menuDiaporama {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: url('img/menuDiaporama.png') repeat;
}

.controlDiapo {
    cursor: pointer;
}

.control {
    float: right;
    margin-right: 110px;
    margin-top: 6px;
}

.controlP {
    cursor: pointer;
}

#descrImage {
    float: right;
    width: 370px;
    text-align: right;
    margin-top: 1px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'DINBold';
    font-weight: normal;
    line-height: 20px;
}

    #descrImage a {
        text-decoration: none;
        color: #000;
    }

    #descrImage span {
        font-size: 15px;
        font-family: 'DINBlack';
        font-weight: normal;
        line-height: 25px;
    }

img.imgDiap {
    /*display : none;width:100%;position:absolute;left:0;top:0;z-index:-1;*/
}

img.imageDiaporama {
    display: inline;
}

#diap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}


/*#endregion */

/*#region MENU */

/* MENU */



.noOverflow {
    overflow: hidden;
}

#body {
    transition: .4s ease-in-out;
    min-height: 99vh;
}

.sousMenuTransform {
    transform: translateX(200px);
}

nav {
    height: 5vh;
    background: #89bd24;
    justify-content: center !important;
    z-index:3;
    position:sticky !important;
    top:0;

}
.isSticky #liBrand{
    display:none;
}
.nav-link {
    color: black !important;
}

    .nav-link.active, .nav-link:hover {
        color: white !important;
    }

.sousMenu {
    transform: translateX(-200px);
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    transition: .4s ease-in-out;
    max-height: 100vh;
}

.sousMenuTransform + .sousMenu {
    overflow-y: auto;
    transform: translateX(0px);
    background: hsl(240, 2%, 58%);
}

.sousMenu div {
    color: white;
    text-align: center;
    margin: 0 0 -30% 0;
    transition: .4s ease-in-out;
}

.sousMenu span {
    font-weight: bold;
    width: 100%;
    position: absolute;
    left: 0;
    color: black;
    background: rgba(137, 189, 36, 0.6);
}

.sousMenu img {
    width: 200px;
    height: auto;
}

#distrapro {
}

.navbar-brand > img {
    border-radius: 0.75rem;
    width: 300px;
    background: #89bd24;
}

#liBrand {
    height: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
}

#sandwich {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s ease-in-out;
}

.changeSandwich .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.changeSandwich .bar2 {
    opacity: 0;
}

.changeSandwich .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-brand-mobile {
    display: none;
}

#overlay::after {
    visibility: hidden;
    opacity: 0;
    content: "";
    background-color: rgba(0, 0, 10, .4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    transition: visibility 0s .4s, opacity .4s ease-in-out;
}

#overlay.active::after {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity .4s ease-in-out;
}

@media (max-height : 850px) and (max-width:450px) and (orientation: portrait), (max-width : 850px) and (max-height:450px) and (orientation: landscape) {
    #sandwich {
        display: inline-block;
        cursor: pointer;
        z-index:3;
    }

    nav {
        height: auto;
        padding: 0;
        
        justify-content: flex-start !important;
    }
    .navbar-nav {
        left: 0;
        top:0;
        position: absolute;
        width: 100%;
        height: 60vh;
        flex-direction: column !important;
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        border-top: 1px solid;
        justify-content: space-around;
        align-items:center;
        transition: .4s ease-in-out;
        z-index: 1;
        background: white;
        flex-wrap: wrap;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

        .navbar-nav.open li {      
                   border-width:100px;

        }

        .navbar-nav li:nth-last-of-type(2){
            border-bottom: 0;
        }
         .navbar-nav li {
             border-width:0;
            border-bottom: 1px solid;
            transition: border-width 1s;
        }
    .open {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
    }

    #liBrand {
        display: none;
    }
}





/*#endregion */

/* CONTENER */

#contener {
    width: 940px;
    margin: 0 auto;
    min-height: 500px;
    overflow: hidden;
}

/* MAIN */

#main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
}

#texteMain {
    float: left;
    width: 460px;
    text-align: justify;
    line-height: 21px;
}

#actualites {
    float: right;
    width: 430px;
}

    #actualites h2 {
        background-color: #000;
        font-size: 18px;
        color: #FFF;
        font-family: 'DINBold';
        height: 23px;
        line-height: 23px;
        margin-top: 0;
    }

.actualite {
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
}

.imageActu {
    float: left;
    padding: 2px;
    background-color: #FFF;
    border: solid 1px #959595;
    margin: 2px 20px 0 2px;
}

.new {
    position: absolute;
    top: 0;
    left: 0;
}

.titreActu {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
}

.dateActu {
    font-size: 12px;
    color: #6f6f6f;
    margin-top: 0;
    margin-bottom: 10px;
}

.descrActu {
    font-size: 14px;
    color: #000;
    line-height: 21px;
}

.savoirPlus {
    display: block;
    background: url(img/fleche.png) no-repeat left;
    padding-left: 20px;
    color: #000;
    font-size: 14px;
    font-family: 'DINBold';
    text-decoration: none;
    width: auto;
    float: right;
}

    .savoirPlus:hover, .plusInfos:hover {
        text-decoration: underline;
    }

.plusInfos {
    display: block;
    background: url(img/fleche.png) no-repeat left;
    padding-left: 20px;
    color: #000;
    font-size: 14px;
    font-family: 'DINBold';
    text-decoration: none;
    width: auto;
    float: right;
}


/* SOCIETE */

#societe h2 {
    font-size: 24px;
    font-family: 'DINBold';
    border-bottom: solid 2px #000;
    padding-bottom: 4px;
}

#ckSociete {
    float: left;
    width: 600px;
    text-align: justify;
    line-height: 23px;
}

#colRSociete {
    float: right;
    width: 300px;
}

#photo1 {
    margin-bottom: 35px;
    margin-top: 55px;
}

#photo2 {
    margin-bottom: 35px;
}

#devenir {
    width: 270px;
    color: #FFF;
    font-size: 14px;
    background-color: #f29400;
    overflow: hidden;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
}

    #devenir p {
        font-size: 15px;
        font-weight: bold;
    }

    #devenir ul {
        padding-left: 15px;
    }

        #devenir ul > li {
            margin-bottom: 15px;
            font-weight: normal;
        }

/* TECHNOLOGIE */

#technologie h2 {
    font-size: 24px;
    font-family: 'DINBold';
    border-bottom: solid 2px #000;
    padding-bottom: 4px;
}

    #technologie h2 span {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        float: right;
        line-height: 40px;
    }

#main {
    width: 100%;
}

#colLeft {
    width: 140px;
    float: left;
}

    #colLeft a {
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

        #colLeft a.current {
            text-decoration: underline;
        }

d#mainTechnologie {
    width: 800px;
    float: right;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 21px;
}

#mainTechnologie h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px;
}


#l2Col1 {
    width: 300px;
    float: left;
    text-align: justify;
}

#l2Col2 {
    width: 467px;
    float: right;
    text-align: justify;
}

#l2Col1 {
    width: 400px;
    float: left;
    text-align: justify;
}

#l2Col2 {
    width: 346px;
    float: right;
    text-align: justify;
}

.circleOrange > li {
    list-style-image: url(img/puceOrange.png);
}

/* GARANTIES */

#garanties h2 {
    font-size: 24px;
    font-family: 'DINBold';
    border-bottom: solid 2px #000;
    padding-bottom: 4px;
}

.garantie {
    width: 130px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

    .garantie p {
        width: 120px;
        margin: 15px auto;
    }

.lCol1 {
    width: 48%;
    float: left;
}

.lCol2 {
    width: 48%;
    float: right;
}


/* CONTACT */

#contact h2 {
    font-size: 24px;
    font-family: 'DINBold';
    border-bottom: solid 2px #000;
    padding-bottom: 4px;
}

#colL {
    width: 430px;
    float: left;
    font-size: 15px;
}

form p {
    margin: 0 0 4px 0;
}

input {
    width: 100%;
    border: 1px solid #dadad8;
    background-color: #fbfde9;
    height: 26px;
    margin-bottom: 15px;
}

#colL table {
    width: 100%;
}

#colL textarea {
    width: 100%;
    border: 1px solid #dadad8;
    background-color: #fbfde9;
}

#colR {
    width: 470px;
    float: right;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

#coordonnees {
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 22px;
}


#map {
    height: 445px;
    width: 450px;
    margin: 0 auto 10px auto;
}

form button {
    display: block;
    float: right;
    width: 129px;
    height: 33px;
    color: #FFF;
    font-size: 16px;
    font-family: 'DINBold';
    text-align: center;
    border: none;
    background: url('img/btnEnvoyer.png') no-repeat transparent;
    cursor: pointer;
    margin-top: 25px;
}

/* ACTUALITES */

#actus h2 {
    font-size: 24px;
    font-family: 'DINBold';
    border-bottom: solid 2px #000;
    padding-bottom: 4px;
}

.imageActu {
    margin-left: 20px;
    float: right;
}

.actu {
    background: url(img/sepActu.png) no-repeat bottom;
    padding-bottom: 20px;
}

.textActu {
    width: 595px;
    float: left;
    text-align: justify;
}

/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    height: 29px;
    background-color: #000;
    color: #808080;
    font-size: 11px;
    z-index:3;
}

    footer a {
        text-decoration: none;
        color: #808080;
    }

    footer table {
        width: 100%;
        height: 29px;
    }

    footer .tdFooter1 {
        text-align: left;
        padding-left: 10px;
    }

    footer .tdFooter2 {
        text-align: center;
    }

    footer .tdFooter3 {
        text-align: right;
        padding-right: 10px;
    }

/* GENERAL */

.imageH2 {
    margin: 0px 7px 0 5px;
}



#multiscroll img {
    width: 50vw;
}

[data-href] {
    cursor: pointer;
}

table, form {
    width: 100%;
}

td * {
    width: 100%;
}

#precProd img{
    transform:rotate(90deg);
}
#nextProd img{
    transform:rotate(-90deg);

}